#paging_button ul{ padding:0px; margin:5px;}

#paging_button ul li { 
		/*
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		 height:20px; width:20px;  
		 font-weight:bold; 
		
		*/
		list-style-image:none;
		list-style-type:none;
		padding:5px 5px 5px 5px;
		margin:3px; 
		cursor:pointer;
		float:left;
		border:solid #CCCCCC 1px;
		font-weight:bold; 
		border:2px solid #abd229;
}

li:hover{ color: #CC0000; cursor: pointer; }








